{:paths ["src" "resources"]
 :deps  {com.nextjournal/beholder {:mvn/version "1.0.2"}
         org.clojure/clojure      {:mvn/version "1.11.1"}
         ring/ring-core           {:mvn/version "1.9.1"}
         http-kit/http-kit        {:mvn/version "2.7.0"}
         hiccup/hiccup            {:mvn/version "2.0.0-RC1"}
         metosin/reitit           {:mvn/version "0.5.5"}}}
