{:developer "Adam Frey"
 :transform
 [["src" "src/{{top/file}}"
   {"main.clj"       "{{main/file}}.clj"
    "reload.clj"     "{{main/file}}/reload.clj"
    "views_home.clj" "{{main/file}}/views/home.clj"}]]}
